n8n/workflow.json
{
  "name": "Lead Ingestion and Enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "189c9d2e-a740-45ed-8362-86431dd9730f",
      "name": "Receive Lead Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1280,
        -48
      ],
      "webhookId": "91a5e186-d3a9-4de7-91a5-8e8e3a3e6a4b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "original_message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "company_domain",
              "value": "={{ $json.body.email.split('@')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "505b9f3a-fa52-4da0-af66-eafbcd73d0af",
      "name": "Parse Email Domain",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1072,
        -48
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/organizations/enrich",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.company_domain }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.APOLLO_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75d9111c-3731-48b9-9650-22273c9e41e5",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -880,
        -48
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company_name",
              "value": "={{ $json.organization?.name ?? 'Unknown' }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.organization?.industry ?? null }}"
            },
            {
              "name": "estimated_revenue",
              "value": "={{ $json.organization?.annual_revenue_printed ?? null }}"
            }
          ],
          "number": [
            {
              "name": "employee_count",
              "value": "={{ $json.organization?.estimated_num_employees ?? null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d02bd4a-7250-44d5-bf07-4d102c798cfa",
      "name": "Normalize Enrichment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -672,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a Senior SaaS Account Executive analyzing inbound demo requests.\\nGiven the prospect's message and their company profile, assign a purchase\\nintent score from 1-100.\\n\\nScoring Guide:\\n- 90-100: Enterprise buyer, high headcount, explicit urgency, budget signals\\n- 70-89:  Mid-market, clear use case, decision-maker language\\n- 50-69:  Exploratory interest, small-mid company, vague requirements\\n- 30-49:  Likely tire-kicker, personal email, no clear business need\\n- 1-29:   Spam, off-topic, competitor research, student project\\n\\nPROSPECT MESSAGE: {{ $json.original_message }}\\n\\nCOMPANY PROFILE:\\n- Company: {{ $json.company_name }}\\n- Domain: {{ $json.company_domain }}\\n- Employees: {{ $json.employee_count ?? 'Unknown' }}\\n- Industry: {{ $json.industry ?? 'Unknown' }}\\n- Est. Revenue: {{ $json.estimated_revenue ?? 'Unknown' }}\\n\\nRespond with ONLY a valid JSON object:\\n{ \\\"intent_score\\\": <number 1-100>, \\\"reasoning_summary\\\": \\\"<max 2 sentences>\\\" }\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"OBJECT\",\n      \"properties\": {\n        \"intent_score\": { \"type\": \"INTEGER\" },\n        \"reasoning_summary\": { \"type\": \"STRING\" }\n      },\n      \"required\": [\"intent_score\", \"reasoning_summary\"]\n    }\n  }\n}",
        "options": {}
      },
      "id": "2d184443-3252-4e96-b965-6a934ad529f6",
      "name": "Gemini Intent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -480,
        -48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "upFr1pbS4eniQ6Pg",
          "name": "Header Auth account 2"
        },
        "httpQueryAuth": {
          "id": "mbfzf7D5bPtSS9oV",
          "name": "Query Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let intent_score = 50;\nlet reasoning_summary = \"LLM output validation failed — defaulted.\";\n\ntry {\n  const responseBody = $input.item.json;\n  if (responseBody && responseBody.candidates && responseBody.candidates.length > 0) {\n    const text = responseBody.candidates[0].content.parts[0].text;\n    const parsed = JSON.parse(text);\n    \n    if (Number.isInteger(parsed.intent_score) && parsed.intent_score >= 1 && parsed.intent_score <= 100) {\n      intent_score = parsed.intent_score;\n    }\n    if (typeof parsed.reasoning_summary === 'string') {\n      reasoning_summary = parsed.reasoning_summary;\n    }\n  }\n} catch (e) {\n  // Ignore and use defaults\n}\n\n// 1. Get the enriched company data from the Normalize node\nconst companyData = $(\"Normalize Enrichment\").first().json;\n\n// 2. Get the original user info that was \"lost\" before the HTTP requests\nconst leadData = $(\"Parse Email Domain\").first().json;\n\n// 3. Combine everything into a single, clean JSON object for the rest of the workflow\n$input.item.json = {\n  name: leadData.name,\n  email: leadData.email,\n  original_message: leadData.original_message,\n  company_domain: leadData.company_domain,\n  company_name: companyData.company_name,\n  industry: companyData.industry,\n  employee_count: companyData.employee_count,\n  estimated_revenue: companyData.estimated_revenue,\n  intent_score: intent_score,\n  reasoning_summary: reasoning_summary\n};\n\nreturn $input.item;"
      },
      "id": "d1dc3b72-af34-414a-b40a-21168e7096a1",
      "name": "Validate LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.intent_score }}",
              "operation": "larger",
              "value2": 80
            }
          ]
        }
      },
      "id": "9e6e7d25-9eb5-43f5-9972-0531a31a6312",
      "name": "Route by Intent Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🔥 *Hot Lead Alert* — Score: {{ $json.intent_score }}\\n\\n*Name:* {{ $json.name }}\\n*Email:* {{ $json.email }}\\n*Company:* {{ $json.company_name }}\\n*Employees:* {{ $json.employee_count }}\\n*Industry:* {{ $json.industry }}\\n*Revenue:* {{ $json.estimated_revenue }}\\n\\n*AI Reasoning:* {{ $json.reasoning_summary }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "bab39ae3-d099-4125-bd76-7799d086f033",
      "name": "Telegram Alert — Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        128,
        -144
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Thanks for your interest in SaaS Lead Intelligence!",
        "message": "Hi {{ $json.name }},<br><br>Thanks for your interest. Check out our <a href=\"#\">Self-serve Docs</a> or explore our Starter and Pro tiers. If your needs change, feel free to reply to schedule a follow-up.<br><br>Best,<br>The Team",
        "options": {}
      },
      "id": "2092eef1-7a07-458e-845b-e97fa8b23250",
      "name": "Gmail — Warm Auto-Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        128,
        64
      ],
      "webhookId": "fca39458-bbc9-4e51-8e3c-2af13483172c",
      "credentials": {
        "gmailOAuth2": {
          "id": "H9wmuBRqVkCi7hB6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const score = $input.item.json.intent_score || 50;\nlet status = \"Cold\";\nif (score > 80) status = \"Hot Lead\";\nelse if (score >= 50) status = \"Warm\";\n$input.item.json.status = status;\nreturn $input.item;"
      },
      "id": "fe83e63b-c2c7-406a-995d-509ffbe320cb",
      "name": "Set Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -48
      ]
    },
    {
      "parameters": {
        "tableId": "leads"
      },
      "id": "df3eef10-b5e2-4f7d-9236-08a6bce72a19",
      "name": "Upsert Lead to Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PVlg9erhmoThaxaX",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Lead Submission": {
      "main": [
        [
          {
            "node": "Parse Email Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Domain": {
      "main": [
        [
          {
            "node": "Apollo Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Enrichment": {
      "main": [
        [
          {
            "node": "Normalize Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Enrichment": {
      "main": [
        [
          {
            "node": "Gemini Intent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Score": {
      "main": [
        [
          {
            "node": "Validate LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate LLM Output": {
      "main": [
        [
          {
            "node": "Route by Intent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent Score": {
      "main": [
        [
          {
            "node": "Telegram Alert — Hot Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail — Warm Auto-Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert — Hot Lead": {
      "main": [
        [
          {
            "node": "Set Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Warm Auto-Reply": {
      "main": [
        [
          {
            "node": "Set Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status": {
      "main": [
        [
          {
            "node": "Upsert Lead to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "23a213d6-e2bf-4636-bb8e-be5f35caab96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fff1baed77cacbc3734c42ec77ac3f2522f1077cc47fd0a311a32303d57d748c"
  },
  "id": "0paSh37mIY7nPGWp",
  "tags": []
}